/* styles.css */
body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}
input, button {
    margin: 5px;
    padding: 10px;
}
button :hover {
    background-color: aqua;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: palegreen;
}
.error {
    color: red;
}